<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
  <label for="name"> Nombre de super heroe: </label>
  <input id="name"[(ngModel)]="hero.name" placeholder="name">
</div>

<div>
  <label for="edad">Edad: </label>
  <input id="edad"[(ngModel)]="hero.edad" placeholder="edad">
<div>
  <label for="SuperPoder">Poder: </label>
  <input id="SuperPoder"[(ngModel)]="hero.SuperPoder" placeholder="SuperPoder">
</div>
<div>
  <label for="Identidad">Identidad: </label>
  <input id="Identidad"[(ngModel)]="hero.Identidad" placeholder="Identidad">
</div>
<div>
  <label for="Universo">Universo que pertenece: </label>
  <input id="Universo"[(ngModel)]="hero.Universo" placeholder="Universo">
</div>

